.container
  .row
    .col-lg-10.col-lg-offset-1{ style: 'border-bottom: 1px solid #FFF;' }
      = form_for @movie, html: { class: 'form-horizontal' } do |f|
        - if @movie.errors.any?
          #error_explanation
            %h2= "#{pluralize(@movie.errors.count, "error")} prohibited this movie from being saved:"
            %ul
              - @movie.errors.full_messages.each do |message|
                %li= message
        .form-group
          .row
            .col-sm-4.control-label
              = f.label :name
            .col-sm-6
              = f.text_field :name, class: 'form-control'

        .form-group
          .row
            .col-sm-4.control-label
              = f.label :genres
            .col-sm-6
              = f.select(:genres, Movie::GENRES, {}, {include_blank: false, multiple: true, size:10, class: 'form-control' })

        .form-group
          .row
            .col-sm-4.control-label
              = f.label :year
            .col-sm-6
              = f.select :year, 1900..Date.today.year, {}, { class: 'form-control' }

        .form-group
          .row
            .col-sm-4.control-label
              = f.label :thumbnail
            .col-sm-6
              = f.file_field :thumbnail, class: 'form-control'
        - if !@movie.new_record?
          .form-group
            .row
              .col-sm-4.control-label
                = f.label :thumbnail, 'Download Thumbnail'
              .col-sm-6
                = link_to 'View thumbnail', @movie.thumbnail.url(:original, false)
        .form-group
          .row
            .col-sm-4.control-label
              = f.label :director
            .col-sm-6
              = f.text_field :director, class: 'form-control'

        .form-group
          .row
            .col-sm-4.control-label
              = f.label :main_star
            .col-sm-6
              = f.text_field :main_star, class: 'form-control'

        .form-group
          .row
            .col-sm-4.control-label
              = f.label :description, 'Описание:'
            .col-sm-6
              = f.text_area :description, rows: 5, class: 'form-control'
        .form-group
          %hr
          .col-sm-12
            = f.submit @movie.new_record? ? 'Create Movie' : 'Update', class: 'btn btn-success'
            = link_to 'Back', :back, class: 'btn btn-default'

