= form_for @movie do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2= "#{pluralize(@movie.errors.count, "error")} prohibited this movie from being saved:"
      %ul
        - @movie.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :thumbnail
    = f.file_field :thumbnail

  .field
    = f.label :genres
    = f.select(:genres, Movie::GENRES, {}, {include_blank: false, multiple: true, size:10 })
  .field
    = f.label :year
    = f.select :year, 1900..Date.today.year
  .field
    = f.label :director
    = f.text_field :director
  .field
    = f.label :main_star
    = f.text_field :main_star
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :favorited
    = f.number_field :favorited
  .actions
    = f.submit 'Save'
